#cartes_achievements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
   }
   element.style {
       width: 23rem;
       height: 30rem;
   }
   @media screen and (min-width: 900px) {
       .card{
           flex-basis: 26%;
           margin-bottom: 3rem;
       }
   }
   .buttonAchievements{
    color: rgb(0, 153, 255);
   }