li {
    list-style-image: url("./assets/img/fleche-droite.png");
}

#up-button{
  display: block;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  outline: none;
  background-color: #298eff;
  border: 1px solid #333;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}
#up-button.show{
  display: none;
}
link {
  color:white;
}
footer {
  background-color: #EEE ;
  display: flex;
  flex-direction: column;
}
.main_footer{
  padding-left: 1rem;
}
.socials {
  width: 23px;
  height: 23px;
  margin-left: 0.7rem;
  margin-right: 0.7rem ;
}
.secondary_footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  width: 100%;
  color:white;
  height: 3rem;
}
@media screen and (min-width: 700px) {
  .main_footer{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  footer{
    bottom: 0;

  }
  .bgBanner{
    background-image: url(./src/assets/img/banner.jpg);
    height: 10rem;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-height: 1200px){
    body{
      min-height: 79vh;
    }
    
  }
}
@media screen and (max-width: 700px) {
  .bgBanner{
    background-image: url(./src/assets/img/banner-mobile.jpg);
    height: 10rem;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
  }
}