a {
    color: rgb (255,255,255,0.8) ;
}

#root {
    font-family: 'NunitoSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

h1 {
    font-weight: 600;
    text-transform: uppercase;
}
h2 {
    font-weight: 600;
}
.mainUnderline{
    border-bottom:solid;
    border-color: blue;
    width: 20%;
    margin-left: auto;
    margin-right: auto ;
}
#souligneTitre{
    border-bottom:solid;
    border-color: rgb(0, 119, 255);
    width: 80%;
    display: inline-block;
    padding-bottom: 10px;
}
